<!--CS 256
Rachel Stone
APP: MONTH VIEW OF TASKS-->

<html>
    <style>
        .linked {
            float: left;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 33%;
            font-size: 1.3em;
            text-shadow: 0px 1px lightgray;
        }
        .pickview {
             padding-top: 20px;
             height: 50px;
        }
        p {
            font-weight: 700;
        }
        a {
            text-decoration: none;
            color: #007aff;
        }
        md-toolbar{
            text-align: center;
        }
        table {
            width: 100%;
            text-align: center;
        }
        table, tr, td {
            border: 2px solid darkgray;
            border-collapse: collapse;
        }
        th {
            background-color: #5ac8fa;
            color: ghostwhite;
        }
        td {
            height: 75px;
            width: 13%;
        }
        .task1 {
            background-color: #FE574D;
            border: 1px solid gray;
            color: white;
        }
        .task2 {
            background-color: #FBDF24;
            border: 1px solid gray;
            color: white;
        }
        .task3 {
            background-color: #03FC7A;
            border: 1px solid gray;
            color: white;
        }
    </style>
    
    <head>
        <title>Five-Day View | Stacks Time Management</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Angular Material style sheet -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	  <link rel="stylesheet" href="stylesheets/task_manager.css">
        <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	  <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
	  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc1/angular-material.js"></script>
      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
	  <script src="javascripts/app2.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
	  <script src="http://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
	  <link href="http://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
    
    </head>

    <body ng-controller="AppCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp" style="padding: 0px">
         <md-toolbar class="demo-toolbar md-primary" text-align="center" layout="row" layout-align="center" >
			<a href="menu.html">
			<md-button id="large_icon" class="md-icon-button" ng-click="" style="height: 50px; width: 50px; border-radius: 0px; position: absolute; left: 0px">
				<md-icon md-svg-src="img/icons/ic_menu_24px.svg" aria-label="Close dialog"></md-icon>			
			</md-button>	
			</a>
			<h3 class="ng-binding">Tasks</h3>
		</md-toolbar>	
        
        <div class="pickview">
            <span class="linked"><a href="day_view.html">Day</a></span>
            <span class="linked">5-Day</a></span>
            <span class="linked"><a href="month_view.html">Month</a></span>
        </div>
    <div class="scroller" > 
        <table>
            <tr>
                <th></th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>TH</th>
                <th>F</th>
            </tr>
            <tr>
                <td>9 AM</td>
                <td> <a href="tinder_suggestion.html"><div class="task1">Buy Fluffy Bunnies</div></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10 AM</td>
                <td> <a href="tinder_suggestion.html"><div class="task2">Vote for Bernie Sanders</div></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>11 AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>12 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>1 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2 PM</td>
                <td> <a href="tinder_suggestion.html"><div class="task3">Rehearse CS256 Slideshow</div></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <!--NEW TASK POP UP-->
    <script type="text/ng-template" id="dialog1.tmpl.html">
		<md-dialog style="min-width: 260px" aria-label="Add New Task"  ng-cloak>
		  <form>
			<md-toolbar>
			  <div class="md-toolbar-tools" style="background-color: rgb(105, 239, 131); font-weight: bold">
				<span flex></span>
				<h2>Add New Task</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
				  <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			  </div>
			</md-toolbar>
			<div style="padding: 20px 10px 10px 10px;">
			<md-dialog-content>
				<p>*Required Field</p>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">
					<label for="tb_title">Title*:</label>
					<input ng-model="titleContent" class="ng-pristine ng-valid md-input ng-touched" id="tb_title" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
				<!--<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">	
					<label for="tb_DueDate">Due Date*:</label>-->
					<!--<input ng-model="dateContent" class="ng-pristine ng-valid md-input ng-touched"id="tb_DueDate" aria-invalid="false"><div class="md-errors-spacer"></div>-->
					<!--<md-datepicker ng-model="dateContent" id="tb_DueDate" md-placeholder="Due Date*"></md-datepicker>-->
					 
				<!--</md-input-container>-->
				<div class="lead" moment-picker="dateContent">    
					<md-icon md-svg-src="clock.svg" aria-label="Add Task"></md-icon>&nbsp;
					<span style="color: gray">{{ dateContent ||  "Date*" }}</span>
      
				</div>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">	
					<label for="tb_description">Description:</label>
					<input ng-model="Task.description" class="ng-pristine ng-valid md-input ng-touched" id="tb_description" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">	
					<label for="tb_category">Category:</label>
					<input ng-model="Task.category" class="ng-pristine ng-valid md-input ng-touched" id="tb_category" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
			</md-dialog-content>
			</div>
			<md-dialog-actions layout="row" layout-align="center" style="padding-left: 0px; width: inherit">
				<md-button id="submit" class="md-raised md-primary" style="background-color: rgb(105, 239, 131);" ng-click="addTask($event)">
					Submit
				</md-button>
			</md-dialog-actions>
			
		  </form>
		</md-dialog>
		</script>
    
    </body>
            
         <md-button id="large_icon" class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="showAdvanced($event)" 
            	style="position: absolute;top: 83%;left: 75%;height: 50px;padding: 0px;width: 50px;background-color: white;box-shadow: 0px 5px 5px 2px #C3C3C3;">
		          <md-icon md-svg-src="circle.svg" aria-label="Add Task"></md-icon>
        </md-button>
</html>

