
<html>   
    <head>
        <title>Blank</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Angular Material style sheet -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	  <link rel="stylesheet" href="stylesheets/task_manager.css">
        <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	  <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
	  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc1/angular-material.js"></script>
      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
	  <script src="javascripts/app2.js"></script>
	  
	</head>

    <body ng-controller="AppCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp" style="padding: 0px">
        <md-toolbar class="demo-toolbar md-primary" text-align="center" layout="row" layout-align="center" >
			<a href="menu.html">
			<md-button id="large_icon" class="md-icon-button" ng-click="" style="height: 50px; width: 50px; border-radius: 0px; position: absolute; left: 0px">
				<md-icon md-svg-src="img/icons/ic_menu_24px.svg" aria-label="Close dialog"></md-icon>			
			</md-button>	
			</a>
			<h3 class="ng-binding">Tasks</h3>
		</md-toolbar>
		<!--Junior - use the code below in place of the toolbar for the pages with back buttons
		<md-toolbar class="demo-toolbar md-primary" text-align="center" layout="row" layout-align="center" >
			<a href="{{myLink}}">
			<md-button id="large_icon" class="md-icon-button" ng-click="cancel()" style="height: 50px; width: 50px; border-radius: 0px; position: absolute; left: 0px">
				<md-icon md-svg-src="img/icons/ic_arrow_back_24px.svg" aria-label="Close dialog"></md-icon>				
			</md-button>	
			</a>
			<h3 class="ng-binding">Tasks</h3>
		</md-toolbar>-->
    
		<script type="text/ng-template" id="dialog1.tmpl.html">
		<md-dialog aria-label="Add New Task"  ng-cloak>
		  <form>
			<md-toolbar>
			  <div class="md-toolbar-tools" style="background-color: rgb(105, 239, 131); font-weight: bold">
				<span flex></span>
				<h2>Add New Task</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
				  <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			  </div>
			</md-toolbar>
			<div style="padding: 20px 10px 10px 10px;">
			<md-dialog-content>
				<p>*Required Field</p>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">
					<label for="tb_title">Title*:</label>
					<input ng-model="titleContent" class="ng-pristine ng-valid md-input ng-touched" id="tb_title" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">	
					<label for="tb_DueDate">Due Date*:</label>
					<input ng-model="dateContent" class="ng-pristine ng-valid md-input ng-touched"id="tb_DueDate" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">	
					<label for="tb_description">Description:</label>
					<input ng-model="Task.description" class="ng-pristine ng-valid md-input ng-touched" id="tb_description" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
				<md-input-container class="md-block flex-gt-xs md-input-has-value" flex-gt-xs="">	
					<label for="tb_category">Category:</label>
					<input ng-model="Task.category" class="ng-pristine ng-valid md-input ng-touched" id="tb_category" aria-invalid="false"><div class="md-errors-spacer"></div>
				</md-input-container>
			</md-dialog-content>
			</div>
			<md-dialog-actions layout="row" layout-align="center" style="padding-left: 0px; width: inherit">
				<md-button id="submit" class="md-raised md-primary" style="background-color: rgb(105, 239, 131);" ng-click="addTask($event)">
					Submit
				</md-button>
			</md-dialog-actions>
			
		  </form>
		</md-dialog>
		</script>
    
    </body>
    
    <md-button id="large_icon" class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="showAdvanced($event)" 
	style="position: absolute;top: 83%;left: 75%;height: 50px;padding: 0px;width: 50px;background-color: white;box-shadow: 0px 5px 5px 2px #C3C3C3;">
		<md-icon md-svg-src="circle.svg" aria-label="Add Task"></md-icon>
    </md-button>
</html>